{% extends 'master/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    

<!-- Start Page Title Area -->
<div class="page-title-area page-title-style-three item-bg1 jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="index.html">{% trans 'Home' %}</a></li>
                <li>{% trans 'About' %}</li>
            </ul>
            <h2>{% trans 'About Us' %}</h2>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start About Area -->
<section class="about-area ptb-100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-content left-content">
                    <h2>{% trans 'WHO ARE WE?' %}</h2>
                    
                    <p style="text-align: justify;text-justify: inter-word;">
                        We are team of digital health researchers from Muhimbili University of Health and Allied Sciences,
                         Ministry of Health Tanzania working together with Casa famiglia rosseta Italy.
                           We have developed this application to increase information access for people
                            with drug use disorders and their care takers as well as the healthcare workers.
                             This is to ensure that people with drug use disorders get the best evidence-based 
                             services and health care workers have access to information on how to best
                              to care and treat their patients.
                    </p>

                    <p style="text-align: justify;text-justify: inter-word;">
                        {% trans 'Huru App is a referral service that provides information about addiction treatment practitioners and facilities.' %}
                    </p>

                    <p style="text-align: justify;text-justify: inter-word;">
                        {% trans 'Huru App is not a medical provider or treatment facility and does not provide medical advice.' %}
                    </p>

                    <p style="text-align: justify;text-justify: inter-word;">
                        Huru App does not endorse any treatment facility or guarantee the quality 
                        of care provided, or the results to be achieved, by any treatment facility.' 
                    </p>

                    <p style="text-align: justify;text-justify: inter-word;">
                        {% trans 'The information provided by Huru App is not a substitute for professional treatment advice.' %}
                    </p>

                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-right-image">
                    <img src="{% static 'assets/img/about/huru1.jpg' %}" alt="image">
                    <img src="{% static 'assets/img/about/huru2.jpg' %}" alt="image">
                        
                </div>
            </div>
        </div>
    </div>

    <div id="particles-js-circle-bubble-4"></div>
</section>
<!-- End About Area -->

<!-- Start Mission Area -->
<section class="mission-area ptb-100 jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="mission-content">
            

            <div class="mission-slides owl-carousel owl-theme">
                <div>
                    <h3>{% trans 'Mission' %}</h3>
                    <p style="text-align: justify;text-justify: inter-word;">
                        {% trans 'To create a happy community where people are free from addiction and engage in productive activities' %}
                    </p>
                    
                    <h3>{% trans 'Vission' %}</h3>
                    <p style="text-align: justify;text-justify: inter-word;">
                        To ensure access of information and services that facilitate recovery of
                         people from substance use disorder and build a healthy community
                          which is free from drug addiction
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Mission Area -->

{% endblock %}