{% extends 'master/base.html' %}
{% load static %}


{% block content %}
<!-- Start Page Title Area -->
<div class="page-title-area page-title-style-two item-bg2 jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>About</li>
            </ul>
            <h2>About Us</h2>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start About Area -->
<section class="about-area ptb-100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-content left-content">
                    <span class="sub-title">About Us</span>
                    <h2>Learn New Skills to go ahead for Your Career</h2>
                    <h6>We can support student forum 24/7 for national and international students.</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut nisi ut aliquip ex ea commodo consequat.</p>

                    <div class="features-text">
                        <h5><i class='bx bx-planet'></i>A place where you can achieve</h5>
                        <p>Education encompasses both the teaching and learning of knowledge, proper conduct, and
                            technical competency.</p>
                    </div>

                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-right-image">
                    <img src="{% static 'assets/img/about/4.jpg' %}" alt="image">
                    <img src="{% static 'assets/img/about/3.jpg' %}" alt="image">

                    <div class="text-box">
                        <div class="inner">
                            Trusted By
                            <span>75K+</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="particles-js-circle-bubble-4"></div>
</section>
<!-- End About Area -->

<!-- Start Mission Area -->
<section class="mission-area ptb-100 jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="mission-content">
            <div class="section-title text-left">
                <span class="sub-title">Discover Mission</span>
                <h2>Why our platform in better</h2>
            </div>

            <div class="mission-slides owl-carousel owl-theme">
                <div>
                    <h3>Quality can be better than quantity in this platform</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut nisi ut aliquip ex ea commodo consequat.</p>

                </div>


            </div>
        </div>
    </div>
</section>
<!-- End Mission Area -->

<!-- Start Our Values Area -->
<section class="values-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="section-title text-left">
                    <h2>Our Values</h2>
                </div>
            </div>

            <div class="col-lg-8 col-md-12">
                <div class="values-content">
                    <h3>A success-oriented learning environment</h3>
                    <p>Website.com began in 2005. After years in the web hosting industry, we realized that it was
                        near impossible for the average Jane or Joe to create their own website. Traditional web
                        hosting services were simply too complicated, time consuming, and expensive to manage.</p>
                    <h3>Academic Excellence and Cultural Diversity</h3>
                    <p>We created the Website.com Site Builder with the user's perspective in mind. We wanted to
                        offer a platform that would require no coding skills or design experience. We keep it
                        simple, so users can focus on creating an amazing website that reflects their brand. Best of
                        all - it's free. You can get online, showcase your brand, or start selling products right
                        away.</p>
                    <h3>Advancing human understanding</h3>
                    <p>After seeing an increased need for eCommerce solutions, we developed one of the only
                        fully-featured, free and commission-free online store builders, allowing business owners to
                        launch their online business.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Our Values Area -->

{% endblock %}