{% extends 'master/base.html' %}
{% load static %}
{% load date_tag %}
{% load i18n %}

{% block content %}

{% get_current_language as LANGUAGE_CODE %}

<!-- Start Blog Details Area -->
<section class="blog-details-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            
            <div class="col-lg-8 col-md-12">
                <div class="blog-details-desc">
                    {% if object.display_cover_photo_on_view_article %}
                    <div class="article-image">
                        <img src="/media/{{object.cover_photo}}" alt="image">
                    </div>
                    {% endif %}

                    <div class="article-content">
                        
                        {% if object.display_cover_photo_on_view_article %}
                        <div class="entry-meta">
                            <ul>
                                <li>
                                    <i class='bx bx-calendar'></i>
                                    <span>{% trans 'Date published' %}</span>
                                    <a href="#">{{object.date_posted|dateformat}}</a>
                                </li>
                            </ul>
                        </div>
                        {% endif %}

                        <h3>{% if LANGUAGE_CODE == 'sw' %} {{object.sw_title|default_if_none:''}} {% else %} {{object.title}} {% endif %}</h3>

                        <p style="text-align:justify;">{% if LANGUAGE_CODE == 'sw' %} {{object.sw_content|safe}} {% else %} {{object.content|safe}} {% endif %}</p>    
                    </div>
                </div>
            </div>

            <div class="col-lg-2"></div>
        </div>
    </div>
</section>
<!-- End Blog Details Area -->
{% endblock %}