{% extends 'master/base.html' %}
{% load static %}
{% load embed_video_tags %}
{% load i18n %}

{% block content %}

<!-- Start Main Banner -->
<section class="home-slides owl-carousel owl-theme">
    <div class="main-banner item-bg1" style="height: 600px;">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="main-banner-content text-center">
                        <span class="sub-title">{% trans 'You are not alone' %}</span>
                        <h1>{% trans 'Recovery is Possible' %}</h1>
                        <p>{% trans 'You can stop using drugs, you just have to make the decision to do so today.' %}</p>

                        <div class="btn-box">
                            <a href="{% url 'main:service_list' %}" class="default-btn"><i class='bx bx-move-horizontal icon-arrow before'></i><span class="label">{% trans 'search services' %}</span><i class="bx bx-move-horizontal icon-arrow after"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-banner item-bg2" style="height: 600px;">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="main-banner-content">
                        <span class="sub-title">{% trans 'You are not alone' %}</span>
                        <h1>{% trans 'Are you ready to get the real you back?' %}</h1>
                        <p>{% trans 'We will help you to find where you can go for treatment and other essential services' %}</p>

                        <div class="btn-box">
                            <a href="{% url 'main:service_list' %}" class="default-btn"><i class='bx bx-move-horizontal icon-arrow before'></i><span class="label">{% trans 'search services' %}</span><i class="bx bx-move-horizontal icon-arrow after"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-banner item-bg3" style="height: 600px;">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="main-banner-content text-center">
                        <span class="sub-title">{% trans 'You are not alone' %}</span>
                        <h1>{% trans 'Addiction affects all communities' %}</h1>
                        <p>{% trans 'Making the decision to find a detox center or drug or alcohol rehab is the first step toward a new, healthy life.' %}</p>

                        <div class="btn-box">
                            <a href="{% url 'main:service_list' %}" class="default-btn"><i class='bx bx-move-horizontal icon-arrow before'></i><span class="label">{% trans 'search services' %}</span><i class="bx bx-move-horizontal icon-arrow after"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Main Banner -->


<!-- Start Posts Area -->
<section class="courses-area pt-70 pb-70">
    <div class="container">
        <div class="section-title text-left">
            <h2>{% trans 'Our Popular Posts' %}</h2>
            {% if posts.count >= 10 %}
            <a href="" class="default-btn"><i class='bx bx-show-alt icon-arrow before'></i><span class="label">{% trans 'All Posts' %}</span><i class="bx bx-show-alt icon-arrow after"></i></a>
            {% endif %}
        </div>
        
        {% if posts.count != 0 %}
        <div class="shorting">
            <div class="row">

                {% for post in posts %}
                <!-- post .start -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-post mb-30">
                        <div class="post-image">
                            <a href="{% url 'main:blog_detail' post.id %}" class="d-block">
                                <img src="/media/{{post.cover_photo}}" alt="image">
                            </a>

                            {% if post.category %}
                            <div class="tag">
                                <a href="{% url 'main:category_information' post.category_id %}">{{post.category}}</a>
                            </div>
                            {% endif %}
                        </div>

                        <div class="post-content">
                            <ul class="post-meta">
                                <li class="post-author">
                                    {% trans 'By' %}: <a href="#" class="d-inline-block">{{post.user.group}}</a>
                                </li>
                                <li><a href="#">{{post.date_posted}}</a></li>
                            </ul>
                            <h3><a href="single-blog.html" class="d-inline-block">{{post.title}}</a></h3>
                            <p>
                                {% if post.content|length > 300 %}

                                {{post.content|safe|slice:300}} ...

                                {% else %}

                                {{post.content|safe}}

                                {% endif %}
                            </p>
                            {% if post.content|length > 300 %}
                            <a href="{% url 'main:blog_detail' post.id %}" class="read-more-btn">{% trans 'Read More' %} <i class='bx bx-right-arrow-alt'></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- post .end -->
                {% endfor %}

            </div>
        </div>
        {%else%}

        <h5 class="text-center card" style="padding: 10px;">{% trans 'No Post' %}</h5>

        {% endif %}

    </div>
</section>
<!-- End Posts Area -->

<!-- Start Funfacts Area -->
<section class="funfacts-area">
    <div class="container">
        <div class="funfacts-inner">
            <div class="row">
               
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="single-funfact">
                        <div class="icon">
                            <i class='bx bx-book-reader'></i>
                        </div>
                        <h3 class="odometer" data-count="{{posts.count}}">00</h3>
                        <p>{% trans 'Total Articals' %}</p>
                    </div>
                </div>

            </div>

            <div id="particles-js-circle-bubble"></div>
        </div>
    </div>
</section>
<!-- End Funfacts Area -->

{% endblock %}