{% extends 'master/base.html' %}
{% load static %}
{% load embed_video_tags %}
{% load i18n %}

{% block content %}


{% comment %}
<!-- Start Main Banner -->
<div class="hero-banner bg-white">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="hero-banner-content black-color">
                            <span class="sub-title">You are not alone</span>
                            <h1>Recovery is Possible</h1>
                            <p>
                                You can stop using drugs, you just have to make the decision to do so today.
                            </p>

                            <div class="btn-box">
                                <a href="courses-2-columns-style-1.html" class="default-btn"><i
                                        class='bx bx-move-horizontal icon-arrow before'></i><span class="label">View
                                        Courses</span><i class="bx bx-move-horizontal icon-arrow after"></i></a>

                                <a href="contact.html" class="optional-btn">Get Started Free</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="hero-banner-image text-center">
                            <img src="{% static '/assets/img/banner-img3.jpg' %}" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Banner -->
{% endcomment %}

{% comment %}
<!-- Start Slider Area -->
<div class="slider_area">
    <div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export"
        data-source="gallery"
        style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
        <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-3049" data-transition="zoomin" data-slotamount="7" data-hideafterloop="0"
                    data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"
                    data-masterspeed="2000" data-thumb="{% static 'assets/img/huru-banner1.jpg' %}" data-rotate="0"
                    data-saveperformance="off" data-title="First Slide" data-param1="" data-param2="" data-param3=""
                    data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                    data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="{% static 'assets/img/huru-banner1.jpg' %}" alt="" data-bgposition="center center"
                        data-kenburns="on" data-duration="7000" data-ease="Linear.easeNone" data-scalestart="100"
                        data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500"
                        data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                    <div class="tp-caption NotGeneric-Icon" id="slide-3049-layer-8"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-70','-70']"
                        data-width="none" data-height="none" data-type="text" data-responsive_offset="on"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":800,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        {% trans 'You are not alone' %}
                    </div>

                    <div class="tp-caption NotGeneric-Title tp-resizeme" id="slide-3049-layer-8"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-15','-15','-15','-15']"
                        data-fontsize="['70','70','70','45']" data-lineheight="['70','70','70','50']" data-width="none"
                        data-height="none" data-type="text" data-responsive_offset="on"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        {% trans 'Recovery is Possible' %}
                    </div>

                    <div class="tp-caption NotGeneric-SubTitle tp-resizeme" id="slide-3049-layer-4"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['45','45','45','45']"
                        data-width="none" data-height="none" data-type="text" data-responsive_offset="on"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1200,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        {% trans 'You can stop using drugs, you just have to make the decision to do so today.' %}
                    </div>

                    <div class="tp-caption NotGeneric-btn tp-resizeme" id="slide-3045-layer-8"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['115','115','115','115']"
                        data-width="none" data-height="none" data-type="text" data-responsive_offset="on"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1400,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        <a href="{% url 'main:service_list' %}" class="default-btn"><i
                                class='bx bx-move-horizontal icon-arrow before'></i><span
                                class="label text-capitalize">{% trans 'search services' %}</span><i class="bx bx-move-horizontal icon-arrow after"></i></a>
                    </div>
                </li>

                <!-- SLIDE  -->
                <li data-index="rs-3045" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0"
                    data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"
                    data-masterspeed="2000" data-thumb="{% static 'assets/img/huru-banner2.jpg' %}" data-rotate="0"
                    data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"
                    data-title="Second Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5=""
                    data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="{% static 'assets/img/huru-banner2.jpg' %}" alt="" data-bgposition="center center"
                        data-kenburns="on" data-duration="7000" data-ease="Linear.easeNone" data-scalestart="100"
                        data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 500"
                        data-offsetend="0 -500" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        

                    <div class="tp-caption NotGeneric-Icon tp-resizeme" id="slide-3049-layer-8"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-70','-70']"
                        data-width="none" data-height="none" data-type="text" data-responsive_offset="on"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":800,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        {% trans 'You are not alone' %}
                    </div>

                    <div class="tp-caption NotGeneric-Title tp-resizeme" id="slide-3045-layer-1"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-15','-15','-15','-15']"
                        data-fontsize="['70','70','70','45']" data-lineheight="['70','70','70','50']" data-width="none"
                        data-height="none" data-type="text" data-responsive_offset="on"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        {% trans 'Are you ready to get the real you back?' %}
                    </div>

                    <div class="tp-caption NotGeneric-SubTitle tp-resizeme" id="slide-3045-layer-4"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['45','45','45','45']"
                        data-width="none" data-height="none" data-type="text" data-responsive_offset="on"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1200,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        {% trans 'We will help you to find where you can go for treatment and other essential services' %}
                    </div>

                    <div class="tp-caption NotGeneric-btn tp-resizeme" id="slide-3045-layer-8"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['115','115','115','115']"
                        data-width="none" data-height="none" data-type="text" data-responsive_offset="on"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1400,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        <a href="{% url 'main:service_list' %}" class="default-btn"><i
                                class='bx bx-move-horizontal icon-arrow before'></i><span
                                class="label text-capitalize">{% trans 'search services' %}</span><i class="bx bx-move-horizontal icon-arrow after"></i></a>
                    </div>
                </li>

                <!-- SLIDE  -->
                <li data-index="rs-3046" data-transition="zoomin" data-slotamount="default"
                    data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeInOut"
                    data-easeout="Power3.easeInOut" data-masterspeed="1500"
                    data-thumb="{% static 'assets/img/huru-banner3.jpg' %}" data-rotate="0" data-saveperformance="off"
                    data-title="Third Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5=""
                    data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="{% static 'assets/img/huru-banner3.jpg' %}" alt="" data-bgposition="center center"
                        data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg"
                        data-no-retina>

                    <div class="tp-caption NotGeneric-Icon tp-resizeme rs-parallaxlevel-1" id="slide-3046-layer-8"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-70','-70']"
                        data-width="none" data-height="none" data-type="text" data-responsive_offset="on"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":800,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        {% trans 'You are not alone' %}
                    </div>

                    <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-3" id="slide-3046-layer-1"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-15','-15','-15','-15']"
                        data-fontsize="['70','70','70','45']" data-lineheight="['70','70','70','50']" data-width="none"
                        data-height="none" data-type="text" data-responsive_offset="on"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        {% trans 'Addiction affects all communities' %}
                    </div>

                    <div class="tp-caption NotGeneric-SubTitle tp-resizeme rs-parallaxlevel-2" id="slide-3046-layer-4"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['45','45','45','45']"
                        data-width="none" data-height="none" data-type="text" data-responsive_offset="on"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1200,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        {% trans 'Making the decision to find a detox center or drug or alcohol rehab is the first step toward a new, healthy life.' %}
                    </div>

                    <div class="tp-caption NotGeneric-btn tp-resizeme" id="slide-3045-layer-8"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['115','115','115','115']"
                        data-width="none" data-height="none" data-type="text" data-responsive_offset="on"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1400,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        <a href="{% url 'main:service_list' %}" class="default-btn"><i
                                class='bx bx-move-horizontal icon-arrow before'></i><span
                                class="label text-capitalize">{% trans 'search services' %}</span><i class="bx bx-move-horizontal icon-arrow after"></i></a>
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>
        </div>
    </div><!-- END REVOLUTION SLIDER -->
</div>
<!-- End Slider Area -->
{% endcomment %}


<!-- Start Main Banner -->
<section class="home-slides owl-carousel owl-theme">
    <div class="main-banner item-bg1" style="height: 600px;">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="main-banner-content text-center">
                        <span class="sub-title">{% trans 'You are not alone' %}</span>
                        <h1>{% trans 'Recovery is Possible' %}</h1>
                        <p>{% trans 'You can stop using drugs, you just have to make the decision to do so today.' %}</p>

                        <div class="btn-box">
                            <a href="{% url 'main:service_list' %}" class="default-btn"><i class='bx bx-move-horizontal icon-arrow before'></i><span class="label">{% trans 'search services' %}</span><i class="bx bx-move-horizontal icon-arrow after"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-banner item-bg2" style="height: 600px;">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="main-banner-content">
                        <span class="sub-title">{% trans 'You are not alone' %}</span>
                        <h1>{% trans 'Are you ready to get the real you back?' %}</h1>
                        <p>{% trans 'We will help you to find where you can go for treatment and other essential services' %}</p>

                        <div class="btn-box">
                            <a href="{% url 'main:service_list' %}" class="default-btn"><i class='bx bx-move-horizontal icon-arrow before'></i><span class="label">{% trans 'search services' %}</span><i class="bx bx-move-horizontal icon-arrow after"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-banner item-bg3" style="height: 600px;">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="main-banner-content text-center">
                        <span class="sub-title">{% trans 'You are not alone' %}</span>
                        <h1>{% trans 'Addiction affects all communities' %}</h1>
                        <p>{% trans 'Making the decision to find a detox center or drug or alcohol rehab is the first step toward a new, healthy life.' %}</p>

                        <div class="btn-box">
                            <a href="{% url 'main:service_list' %}" class="default-btn"><i class='bx bx-move-horizontal icon-arrow before'></i><span class="label">{% trans 'search services' %}</span><i class="bx bx-move-horizontal icon-arrow after"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Main Banner -->


<!-- Start Posts Area -->
<section class="courses-area pt-70 pb-70">
    <div class="container">
        <div class="section-title text-left">
            <h2>{% trans 'Our Popular Posts' %}</h2>
            {% if posts.count >= 10 %}
            <a href="" class="default-btn"><i class='bx bx-show-alt icon-arrow before'></i><span class="label">{% trans 'All Posts' %}</span><i class="bx bx-show-alt icon-arrow after"></i></a>
            {% endif %}
        </div>
        
        {% if posts.count != 0 %}
        <div class="shorting">
            <div class="row">

                {% for post in posts %}
                <!-- post .start -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-post mb-30">
                        <div class="post-image">
                            <a href="{% url 'main:blog_detail' post.id %}" class="d-block">
                                <img src="/media/{{post.cover_photo}}" alt="image">
                            </a>

                            {% if post.category %}
                            <div class="tag">
                                <a href="{% url 'main:category_information' post.category_id %}">{{post.category}}</a>
                            </div>
                            {% endif %}
                        </div>

                        <div class="post-content">
                            <ul class="post-meta">
                                <li class="post-author">
                                    {% trans 'By' %}: <a href="#" class="d-inline-block">{{post.user.group}}</a>
                                </li>
                                <li><a href="#">{{post.date_posted}}</a></li>
                            </ul>
                            <h3><a href="single-blog.html" class="d-inline-block">{{post.title}}</a></h3>
                            <p>
                                {% if post.content|length > 300 %}

                                {{post.content|safe|slice:300}} ...

                                {% else %}

                                {{post.content|safe}}

                                {% endif %}
                            </p>
                            {% if post.content|length > 300 %}
                            <a href="{% url 'main:blog_detail' post.id %}" class="read-more-btn">{% trans 'Read More' %} <i class='bx bx-right-arrow-alt'></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- post .end -->
                {% endfor %}

            </div>
        </div>
        {%else%}

        <h5 class="text-center card" style="padding: 10px;">{% trans 'No Post' %}</h5>

        {% endif %}

    </div>
</section>
<!-- End Posts Area -->

<!-- testimony .start -->
<section class="blog-area pb-70">
    <div class="container">
        
        <div class="section-title text-left">
            <h2>{% trans 'Testimony' %}</h2>
            <a href="blog-style-1.html" class="default-btn"><i class='bx bx-show-alt icon-arrow before'></i><span
                    class="label">{% trans 'View All' %}</span><i class='bx bx-show-alt icon-arrow after'></i></a>
        </div>
            
        {% if testimonies.count != 0 %}

        <div class="shorting">
            <div class="row">

                {% for obj in testimonies %}
                <!-- testimony .start -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-post mb-30">
                        <div style="height: 200px; width: 100%;">
                            {% video obj.url '100% x 100%' %}
                        </div>

                        <div class="post-content">
                            <ul class="post-meta">
                                <li class="post-author">
                                    Date posted: <a href="javascript:void(0);" class="d-inline-block">{{obj.date_posted}}</a>
                                </li>
                            </ul>
                            <h3><a href="single-blog.html" class="d-inline-block">{{obj.title}}</a></h3>
                            <p>
                                {% if obj.content|length > 300 %}

                                {{obj.content|safe|slice:300}} ...

                                {% else %}

                                {{obj.content|safe}}

                                {% endif %}
                            </p>
                            {% if obj.content|length > 300 %}
                            <a href="#" class="read-more-btn">Read More <i class='bx bx-right-arrow-alt'></i></a>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
                <!-- testimony .end -->
                {% endfor %}

            </div>
        </div>
        {% else %}
        <h5 class="text-center card" style="padding: 10px;">{% trans 'No Testimony' %}</h5>
        {% endif %}

    </div>
</section>
<!-- testimony ./end -->

    
    

<!-- Start Funfacts Area -->
<section class="funfacts-area">
    <div class="container">
        <div class="funfacts-inner">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-6">
                    <div class="single-funfact">
                        <div class="icon">
                            <i class='bx bxs-building-house'></i>
                        </div>
                        <h3 class="odometer" data-count="50">00</h3>
                        <p>{% trans 'Available Services' %}</p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-6">
                    <div class="single-funfact">
                        <div class="icon">
                            <i class='bx bx-book-reader'></i>
                        </div>
                        <h3 class="odometer" data-count="1754">00</h3>
                        <p>{% trans 'Total Articals' %}</p>
                    </div>
                </div>

                
                {% comment %}
                <div class="col-lg-4 col-md-4 col-6">
                    <div class="single-funfact">
                        <div class="icon">
                            <i class='bx bx-user-pin'></i>
                        </div>
                        <h3 class="odometer" data-count="8190">00</h3>
                        <p>Happy Customers</p>
                    </div>
                </div>
                {% endcomment %}
                    

            </div>

            <div id="particles-js-circle-bubble"></div>
        </div>
    </div>
</section>
<!-- End Funfacts Area -->

{% endblock %}