{% extends 'master/base.html' %}
{% load static %}

{% block content %}

<!-- Start Blog Details Area -->
<section class="blog-details-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            
            <div class="col-lg-8 col-md-12">
                
                <div class="WordSection1">

                    <h1 style="text-align: center;"><b>The Huru App Privacy Policy</b></h1><p class="MsoTitle" style="text-align: center;"><o:p></o:p></p>
                    
                    <p class="MsoBodyText" style="margin-right:5.9pt;text-align:justify">This Privacy
                    Policy applies to your use of the huruapp.org website and its android
                    application (the<span style="letter-spacing:-.25pt"> </span>“App”)<span style="letter-spacing:-.25pt"> </span>and<span style="letter-spacing:-.2pt"> </span>contains<span style="letter-spacing:-.05pt"> </span>policies<span style="letter-spacing:-.2pt">
                    </span>regarding<span style="letter-spacing:-.2pt"> </span>the<span style="letter-spacing:-.05pt"> </span>collection,<span style="letter-spacing:
                    -.2pt"> </span>use<span style="letter-spacing:-.25pt"> </span>and<span style="letter-spacing:-.2pt"> </span>disclosure<span style="letter-spacing:
                    -.25pt"> </span>of<span style="letter-spacing:-.25pt"> </span>your<span style="letter-spacing:-.25pt"> </span>data<span style="letter-spacing:-.05pt"> </span>and
                    content when you use the App.<o:p></o:p></p>
                    
                    <h1>Background<o:p></o:p></h1>
                    
                    <p class="MsoBodyText" style="margin-top:0in;margin-right:5.9pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt;text-align:justify">The development
                    and pilot testing of Huru website and App is part of a UNODC project with
                    implementing<span style="letter-spacing:-.25pt"> </span>partner<span style="letter-spacing:-.3pt"> </span>Associazione<span style="letter-spacing:
                    -.25pt"> </span>Casa<span style="letter-spacing:-.3pt"> </span>Famiglia<span style="letter-spacing:-.25pt"> </span>Rosetta<span style="letter-spacing:-.3pt">
                    </span>(ACFR)<span style="letter-spacing:-.3pt"> </span>on<span style="letter-spacing:-.25pt"> </span>improving<span style="letter-spacing:
                    -.2pt"> </span>the<span style="letter-spacing:-.25pt"> </span>capacity of the
                    system of drug use disorders treatment services to provide ethical,
                    evidence-based and humane treatment to persons with drug use disorders in
                    Tanga, Tanzania under the global programme GLOJ71: TreatNet – Treating drug use
                    disorders and its health<span style="letter-spacing:-.45pt"> </span>consequences.<o:p></o:p></p>
                    
                    <p class="MsoBodyText" style="margin-top:.05pt;margin-right:6.1pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt;text-align:justify">As part of the
                    above-mentioned project ACFR has partnered with a team of the Muhimbili
                    University<span style="letter-spacing:-.8pt"> </span>of<span style="letter-spacing:
                    -.85pt"> </span>Health<span style="letter-spacing:-.8pt"> </span>and<span style="letter-spacing:-.7pt"> </span>Allied<span style="letter-spacing:-.8pt"> </span>Sciences<span style="letter-spacing:-.8pt"> </span>School<span style="letter-spacing:-.8pt"> </span>of<span style="letter-spacing:-.7pt"> </span>Public<span style="letter-spacing:-.85pt">
                    </span>Health<span style="letter-spacing:-.85pt"> </span>(MUHAS)<span style="letter-spacing:-.7pt"> </span>and<span style="letter-spacing:-.8pt"> </span>the<span style="letter-spacing:-.8pt"> </span>Tanzanian Ministry of Health, Community
                    Development, Gender, Elderly and Children<span style="letter-spacing:-.5pt"> </span>(MoHCDEC).<o:p></o:p></p>
                    
                    <p></p>
                    
                    <p class="MsoBodyText" style="margin-top:0in;margin-right:5.65pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt;text-align:justify">In general, all
                    rights in this project belong to UNODC. However, when it comes, specifically
                    regarding the Huru App and website, the UNODC is referring to Article VIII on
                    Intellectual Property Rights in the project cooperation agreement between the
                    UNODC and the ACFR, dated on July 26, 2019. Therefore, UNODC agrees that while
                    for the pilot testing ACFR and MUHAS<span style="letter-spacing:-.3pt"> </span>will<span style="letter-spacing:-.3pt"> </span>hold<span style="letter-spacing:-.3pt"> </span>the<span style="letter-spacing:-.35pt"> </span>intellectual<span style="letter-spacing:
                    -.25pt"> </span>property<span style="letter-spacing:-.35pt"> </span>rights<span style="letter-spacing:-.3pt"> </span>of<span style="letter-spacing:-.35pt"> </span>the<span style="letter-spacing:-.35pt"> </span>Huru<span style="letter-spacing:-.25pt"> </span>App<span style="letter-spacing:-.35pt"> </span>and<span style="letter-spacing:-.3pt"> </span>website,<span style="letter-spacing:-.3pt"> </span>ultimately,<span style="letter-spacing:
                    -.3pt"> </span>the MoHCDEC Tanzania is the owner and will grant UNODC the permanent,
                    royalty free, non- exclusive and non-transferable<span style="letter-spacing:
                    -.1pt"> </span>license.<o:p></o:p></p>
                    
                    <p class="MsoBodyText"><span style="font-size:13.0pt;mso-bidi-font-size:12.0pt">&nbsp;</span></p>
                    
                    
                    <h1>Introduction<o:p></o:p></h1>
                    
                    <p class="MsoBodyText" style="margin-left:5.0pt">The Huru App is a mobile and
                    web-based application for two target population, people with substance<span style="letter-spacing:-.55pt"> </span>use<span style="letter-spacing:-.45pt"> </span>disorders<span style="letter-spacing:-.5pt"> </span>and<span style="letter-spacing:-.5pt"> </span>service<span style="letter-spacing:-.55pt"> </span>providers<span style="letter-spacing:
                    -.5pt"> </span>working<span style="letter-spacing:-.5pt"> </span>for<span style="letter-spacing:-.6pt"> </span>people<span style="letter-spacing:-.5pt"> </span>with<span style="letter-spacing:-.5pt"> </span>substance<span style="letter-spacing:-.5pt">
                    </span>use<span style="letter-spacing:-.55pt"> </span>disorders.<o:p></o:p></p>
                    
                    <p class="MsoBodyText" style="margin-top:0in;margin-right:5.75pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt;text-align:justify">As<span style="letter-spacing:-.55pt"> </span>the<span style="letter-spacing:-.55pt"> </span>development<span style="letter-spacing:-.5pt"> </span>of<span style="letter-spacing:-.55pt"> </span>the<span style="letter-spacing:-.6pt"> </span>Huru<span style="letter-spacing:-.5pt"> </span>website<span style="letter-spacing:-.55pt"> </span>and<span style="letter-spacing:-.4pt"> </span>App<span style="letter-spacing:-.4pt"> </span>has<span style="letter-spacing:-.55pt"> </span>just<span style="letter-spacing:-.45pt"> </span>started,<span style="letter-spacing:-.55pt">
                    </span>this<span style="letter-spacing:-.5pt"> </span>privacy<span style="letter-spacing:-.55pt"> </span>policy<span style="letter-spacing:-.5pt">
                    </span>document will refer to the different stages of implementation. The Huru
                    website and App will have the exact same components and only differ in the mode
                    of use. While to access the website users will<span style="letter-spacing:-.3pt">
                    </span>need<span style="letter-spacing:-.3pt"> </span>a<span style="letter-spacing:
                    -.3pt"> </span>PC<span style="letter-spacing:-.3pt"> </span>or<span style="letter-spacing:-.35pt"> </span>laptop,<span style="letter-spacing:-.4pt">
                    </span>accessing<span style="letter-spacing:-.3pt"> </span>the<span style="letter-spacing:-.3pt"> </span>App<span style="letter-spacing:-.35pt"> </span>is<span style="letter-spacing:-.3pt"> </span>more<span style="letter-spacing:-.3pt"> </span>practical,<span style="letter-spacing:-.3pt"> </span>as<span style="letter-spacing:-.15pt"> </span>any<span style="letter-spacing:-.25pt"> </span>smartphone<span style="letter-spacing:
                    -.35pt"> </span>with<span style="letter-spacing:-.3pt"> </span>Android function
                    will be sufficient. The development of the Huru website will be launched prior
                    to the Huru App to allow any technical improvements before the official launch.
                    The Huru App and website will have two components. One will focus on
                    information sharing (official IEC materials,<span style="letter-spacing:-.35pt">
                    </span>science-based<span style="letter-spacing:-.3pt"> </span>articles<span style="letter-spacing:-.3pt"> </span>on<span style="letter-spacing:-.35pt"> </span>treatment<span style="letter-spacing:-.35pt"> </span>of<span style="letter-spacing:-.4pt"> </span>substance<span style="letter-spacing:-.4pt"> </span>use<span style="letter-spacing:-.4pt"> </span>disorders,<span style="letter-spacing:-.4pt"> </span>available<span style="letter-spacing:-.4pt">
                    </span>services<span style="letter-spacing:-.35pt"> </span>for people with
                    substance use disorders, video testimonials of people affected by SUD who
                    successfully participated in treatment) and the other part will be on
                    information<span style="letter-spacing:-.35pt"> </span>collecting.<o:p></o:p></p>
                    <p></p>
                    <p class="MsoBodyText" style="margin-top:0in;margin-right:6.05pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt;text-align:justify">For the
                    collection of information and data, the MUHAS has successfully obtained Ethical
                    Clearance, dated on December 7, 2020 which will expire on December 6, 2021.
                    Ethical Clearance was obtained to assess the knowledge, attitude, substance use
                    practices and the potential of deploying mHealth intervention among people with
                    drug use disorders in Tanga Municipality and Muheza District. These two
                    locations will also be the only locations focuse on in this App and website, at
                    least for the piloting phase.<o:p></o:p></p>
                    
                    </div>
                    <div class="WordSection2">
                    
                    <p class="MsoBodyText" style="margin-top:3.9pt;margin-right:6.0pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt;text-align:justify">Thus, the
                    privacy policy will change as the App and website develops and any changes will
                    not affect data that was collected under a previous version. All parties
                    involved in this project will ensure the protection of data for the target
                    population who are people with substance use disorders.<o:p></o:p></p>
                    
                    <p></p>
                    
                    <p class="MsoBodyText" style="margin-top:.05pt;margin-right:6.15pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt;text-align:justify">However,<span style="letter-spacing:-.25pt"> </span>the<span style="letter-spacing:-.2pt"> </span>ultimate<span style="letter-spacing:-.15pt"> </span>aim<span style="letter-spacing:-.15pt"> </span>is<span style="letter-spacing:-.1pt"> </span>to<span style="letter-spacing:-.15pt"> </span>expand<span style="letter-spacing:-.15pt"> </span>to<span style="letter-spacing:-.15pt"> </span>the<span style="letter-spacing:-.15pt"> </span>whole<span style="letter-spacing:-.2pt"> </span>country<span style="letter-spacing:-.15pt"> </span>and<span style="letter-spacing:-.1pt"> </span>include<span style="letter-spacing:-.25pt"> </span>all<span style="letter-spacing:-.1pt"> </span>available<span style="letter-spacing:-.2pt"> </span>services for people with substance use
                    disorders in Tanzania. Therefore, the App and website will be owned by the
                    MoHCDEC to ensure<span style="letter-spacing:-.1pt"> </span>sustainability.<o:p></o:p></p>
                    <p></p>
                    <p class="MsoBodyText" style="margin-top:0in;margin-right:5.65pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt;text-align:justify">While the App
                    and website provides a unique opportunity of a platform for a vulnerable
                    population like people who are affected by substance use disorders to be heard,
                    there will be no<span style="letter-spacing:-.65pt"> </span>additional<span style="letter-spacing:-.6pt"> </span>services<span style="letter-spacing:-.6pt">
                    </span>provided<span style="letter-spacing:-.65pt"> </span>other<span style="letter-spacing:-.75pt"> </span>than<span style="letter-spacing:-.65pt"> </span>information<span style="letter-spacing:-.6pt"> </span>sharing.<span style="letter-spacing:-.65pt">
                    </span>For<span style="letter-spacing:-.6pt"> </span>the<span style="letter-spacing:
                    -.65pt"> </span>time<span style="letter-spacing:-.55pt"> </span>being<span style="letter-spacing:-.6pt"> </span>this<span style="letter-spacing:-.65pt"> </span>platform
                    does not have any capacity of providing actual services (e.g. counselling) to
                    the users but will provide<span style="letter-spacing:-.6pt"> </span>information<span style="letter-spacing:-.55pt"> </span>on<span style="letter-spacing:-.4pt"> </span>available<span style="letter-spacing:-.6pt"> </span>services<span style="letter-spacing:-.5pt">
                    </span>in<span style="letter-spacing:-.55pt"> </span>Tanga<span style="letter-spacing:-.55pt"> </span>Municipality<span style="letter-spacing:
                    -.55pt"> </span>and<span style="letter-spacing:-.5pt"> </span>Muheza<span style="letter-spacing:-.6pt"> </span>District.<span style="letter-spacing:-.5pt">
                    </span>Referral will not be explicitly offered to the user, as the user has to
                    individually decide whether they want<span style="letter-spacing:-.3pt"> </span>to<span style="letter-spacing:-.3pt"> </span>receive<span style="letter-spacing:-.2pt">
                    </span>any<span style="letter-spacing:-.25pt"> </span>treatment.<span style="letter-spacing:-.2pt"> </span>If<span style="letter-spacing:-.25pt"> </span>any<span style="letter-spacing:-.3pt"> </span>modifications<span style="letter-spacing:
                    -.25pt"> </span>substantially<span style="letter-spacing:-.3pt"> </span>change<span style="letter-spacing:-.35pt"> </span>regarding<span style="letter-spacing:
                    -.35pt"> </span>your<span style="letter-spacing:-.2pt"> </span>rights, the
                    developers will provide notice on the App and the<span style="letter-spacing:
                    .1pt"> </span>website.<o:p></o:p></p>
                    
                    <p class="MsoBodyText"><span style="font-size:13.0pt;mso-bidi-font-size:12.0pt">&nbsp;</span></p>
                    
                    <h1 style="text-align:justify">Information Collection and Usage<o:p></o:p></h1>
                    
                    <p class="MsoBodyText" style="margin-top:0in;margin-right:6.15pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt;text-align:justify">This app
                    targets two types of users’ interfaces: i) people with substance use disorders
                    (SUDs) and ii) healthcare workers.<o:p></o:p></p>
                    
                    <p class="MsoBodyText"><o:p>&nbsp;</o:p></p>
                    
                    <p class="MsoListParagraph" style="margin-top:0in;margin-right:5.8pt;margin-bottom:
                    0in;margin-left:59.0pt;margin-bottom:.0001pt;text-align:justify;text-indent:
                    -.5in;mso-list:l0 level1 lfo2;tab-stops:59.05pt"><!--[if !supportLists]--><b><span style="font-size:12.0pt;letter-spacing:-1.4pt;mso-font-width:99%">i)<span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-weight: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span></b><!--[endif]--><b><span style="font-size:12.0pt;mso-bidi-font-size:11.0pt">For the user interface for
                    the people with SUDs: </span></b><span style="font-size:12.0pt;mso-bidi-font-size:
                    11.0pt">no registration is required, as the App and website serves as an
                    information site and the visit is entirely anonymous.<span style="letter-spacing:
                    -.7pt"> </span>Both<span style="letter-spacing:-.65pt"> </span>interfaces<span style="letter-spacing:-.65pt"> </span>do<span style="letter-spacing:-.65pt"> </span>not<span style="letter-spacing:-.6pt"> </span>collect<span style="letter-spacing:-.65pt">
                    </span>data<span style="letter-spacing:-.6pt"> </span>regarding<span style="letter-spacing:-.55pt"> </span>IP<span style="letter-spacing:-.7pt"> </span>addresses.<span style="letter-spacing:-.55pt"> </span>For<span style="letter-spacing:-.7pt"> </span>this<span style="letter-spacing:-.65pt"> </span>type of user, the app and website are
                    used to access Information, Education and Communication (IEC) materials on
                    promoting evidence-based drug treatment and care<span style="letter-spacing:
                    -.75pt"> </span>and<span style="letter-spacing:-.8pt"> </span>also<span style="letter-spacing:-.65pt"> </span>enabling<span style="letter-spacing:-.8pt">
                    </span>them<span style="letter-spacing:-.7pt"> </span>to<span style="letter-spacing:
                    -.75pt"> </span>know<span style="letter-spacing:-.8pt"> </span>where<span style="letter-spacing:-.75pt"> </span>to<span style="letter-spacing:-.7pt"> </span>access<span style="letter-spacing:-.8pt"> </span>services<span style="letter-spacing:-.8pt">
                    </span>in<span style="letter-spacing:-.75pt"> </span>Tanga<span style="letter-spacing:-.8pt"> </span>Municipality and Muheza District. There
                    will be a table with available evidence-based<span style="letter-spacing:-2.1pt">
                    </span>treatment services<span style="letter-spacing:-.45pt"> </span>visible<span style="letter-spacing:-.45pt"> </span>that<span style="letter-spacing:-.5pt"> </span>offer<span style="letter-spacing:-.35pt"> </span>access<span style="letter-spacing:-.4pt">
                    </span>to<span style="letter-spacing:-.45pt"> </span>pharmacological<span style="letter-spacing:-.4pt"> </span>and<span style="letter-spacing:-.45pt"> </span>psychosocial<span style="letter-spacing:-.5pt"> </span>treatment<span style="letter-spacing:-.4pt">
                    </span>for people with substance use disorders. The IEC materials will be
                    promoting positive behaviour among people with SUDs to improve their quality of<span style="letter-spacing:-.2pt"> </span>life.<o:p></o:p></span></p>
                    
                    <p class="MsoListParagraph" style="margin-top:.05pt;margin-right:5.8pt;
                    margin-bottom:0in;margin-left:59.0pt;margin-bottom:.0001pt;text-align:justify;
                    text-indent:-.5in;mso-list:l0 level1 lfo2;tab-stops:59.05pt"><!--[if !supportLists]--><b><span style="font-size:12.0pt;letter-spacing:-1.4pt;mso-font-width:99%">ii)<span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-weight: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span></b><!--[endif]--><b><span style="font-size:12.0pt;mso-bidi-font-size:11.0pt">For<span style="letter-spacing:
                    -.25pt"> </span>the<span style="letter-spacing:-.25pt"> </span>user<span style="letter-spacing:-.25pt"> </span>interface<span style="letter-spacing:
                    -.25pt"> </span>for<span style="letter-spacing:-.2pt"> </span>the<span style="letter-spacing:-.25pt"> </span>healthcare<span style="letter-spacing:
                    -.25pt"> </span>workers:<span style="letter-spacing:-.05pt"> </span></span></b><span style="font-size:12.0pt;mso-bidi-font-size:11.0pt">there<span style="letter-spacing:
                    -.2pt"> </span>is<span style="letter-spacing:-.15pt"> </span>a<span style="letter-spacing:-.25pt"> </span>special<span style="letter-spacing:-.2pt">
                    </span>interface<span style="letter-spacing:-.1pt"> </span>for this<span style="letter-spacing:-.2pt"> </span>user<span style="letter-spacing:-.25pt"> </span>group<span style="letter-spacing:-.25pt"> </span>which<span style="letter-spacing:-.2pt"> </span>requires<span style="letter-spacing:-.1pt"> </span>registration<span style="letter-spacing:
                    -.2pt"> </span>using<span style="letter-spacing:-.15pt"> </span>any<span style="letter-spacing:-.2pt"> </span>name<span style="letter-spacing:-.2pt"> </span>as<span style="letter-spacing:-.2pt"> </span>user<span style="letter-spacing:-.25pt"> </span>name<span style="letter-spacing:-.2pt"> </span>and<span style="letter-spacing:-.15pt"> </span>phone
                    number for authentication purposes and validation of user actions. The reason
                    of having a separate interface for healthcare workers is to allow them
                    expanding<span style="letter-spacing:-.75pt"> </span>their knowledge in
                    providing evidence-based drug treatment and other related services to<span style="letter-spacing:-.4pt"> </span>people<span style="letter-spacing:-.35pt">
                    </span>with<span style="letter-spacing:-.35pt"> </span>SUD.<span style="letter-spacing:-.4pt"> </span>This<span style="letter-spacing:-.25pt"> </span>part<span style="letter-spacing:-.45pt"> </span>is<span style="letter-spacing:-.25pt"> </span>related<span style="letter-spacing:-.45pt"> </span>to<span style="letter-spacing:-.3pt"> </span>another<span style="letter-spacing:-.2pt"> </span>component<span style="letter-spacing:-.45pt">
                    </span>of<span style="letter-spacing:-.3pt"> </span>the<span style="letter-spacing:
                    -.45pt"> </span>project,<span style="letter-spacing:-.25pt"> </span>which
                    belongs to the capacity building part. Part of the information shared for
                    health workers will be the summary points of the Universal Treatment Curriculum<span style="letter-spacing:-1.85pt"> </span>(UTC) Basic Modules and Elements of the
                    Rural Treatment Curriculum used in the UTC trainings, as well as testimonials
                    of trainees who are at the same time also service providers. Using this App and
                    website will be entirely voluntary and the users can stop at any time during the
                    page browsing<span style="letter-spacing:-.15pt"> </span>process.<o:p></o:p></span></p>
                    
                    </div><p>
                    
                    <span style="font-size:12.0pt;mso-bidi-font-size:11.0pt;font-family:&quot;Times New Roman&quot;,serif;
                    mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:EN-US;mso-fareast-language:
                    EN-US;mso-bidi-language:AR-SA"><br clear="all" style="page-break-before:always;
                    mso-break-type:section-break">
                    </span>
                    
                    </p><div class="WordSection3">
                    
                    <h1 style="margin-top:3.9pt">Handling of Personally Identifiable Information
                    (PII)<o:p></o:p></h1>
                    
                    
                    <p class="MsoBodyText" style="margin-top:0in;margin-right:12.1pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt">As used in this Privacy Policy,
                    “Personally Identifiable Information” means any information that may be used to
                    identify an individual, including, postal address, telephone number, fax number
                    and e-mail address among others.<o:p></o:p></p>
                    
                    <p></p>
                    
                    <p class="MsoBodyText" style="margin-top:.05pt;margin-right:6.1pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt">On the website/App there will be a
                    general contact section and in case the user wish to give any personal feedback
                    or submit and inquiries, the user will be asked to provide PII under those
                    circumstances when using the app or website, so that the website/App team can
                    contact the user. The PII will not be shared with any other party and is only
                    to be used by the team to contact the user.<o:p></o:p></p>
                    
                    <p class="MsoBodyText"><span style="font-size:13.0pt;mso-bidi-font-size:12.0pt">&nbsp;</span></p>
                    
                    <h1>Anonymous Information<o:p></o:p></h1>
                    
                    <p class="MsoBodyText" style="margin-top:0in;margin-right:8.1pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt">In general, the website and App
                    generates “Anonymous Information” means information that is not Personally
                    Identifiable Information. They do not enable identification of an individual
                    user, such as aggregated information about the use of the App and its services
                    or reports that collect information about numerous users without identifying a
                    particular user.<o:p></o:p></p>
                    
                    <p></p>
                    <p class="MsoBodyText" style="margin-top:0in;margin-right:5.95pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt">The Huru Team will not share your
                    data or content with anyone without the user’s consent and only to the extent
                    necessary to provide the user with the products and/or services requested.
                    There will be no information collected about the user from other sources
                    outside of the user’s interaction with the App or when the user calls a phone
                    number of services listed on the<span style="letter-spacing:-.05pt"> </span>Website/App.<o:p></o:p></p>
                    
                   <p></p>
                    <p class="MsoBodyText" style="margin-top:0in;margin-right:18.1pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt">The content of the messages
                    provided by the users in the general feedback/inquiry section will be reviewed
                    once in a while by the Huru team and will be worked upon. The messages will be
                    stored and these messages will only be accessible to the Huru team.<o:p></o:p></p>
                    
                    <p></p>
                    
                    <p class="MsoBodyText" style="margin-top:0in;margin-right:37.75pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt">The Huru team will not sell or
                    otherwise transfer data or content of users to advertising platforms, data
                    brokers, information resellers, or any other third-party organizations.<o:p></o:p></p>
                    
                    <p class="MsoBodyText" style="margin-top:0in;margin-right:6.1pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt">Additionally, the team will not
                    use user’s data or content for advertising, marketing or similar services.<o:p></o:p></p>
                    
                    <p class="MsoBodyText"><span style="font-size:13.0pt;mso-bidi-font-size:12.0pt">&nbsp;</span></p>
                    
                    
                    <h1>How The Huru Team uses User’s Information<o:p></o:p></h1>
                    <p></p>
                    <p class="MsoBodyText" style="margin-top:0in;margin-right:9.1pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt">The Huru team does not collect any
                    Personally Identifiable Information from the user on the App and website unless
                    the user voluntarily chooses to disclose such information in the
                    feedback/inquiry section. At a later stage of the App/website development there
                    may be a chat function (with the team) available that will ask for PII in order
                    to be able to contact the user. In order to improve the quality of the
                    App/website Anonymous Information may be asked by the users in aggregate from
                    to build the quality and more useful services such as by performing statistical
                    analyses of the collective characteristics and behavior of users to personalize
                    their experience on the website/App. However, the team does not foresee this
                    function to be available for the piloting phase.<o:p></o:p></p>
                    
                    <p></p>
                    
                    <p class="MsoBodyText" style="margin-top:0in;margin-right:11.75pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt">Anonymous Information may also be
                    provided to affiliated organizations such as ACFR, UNODC and MoHCDEC. There
                    will be a separate terms of reference provided on this data and such data will
                    not be charged by the team. These parties will agree to process such
                    information in compliance with this privacy policy and the Huru Team will limit
                    their use of<o:p></o:p></p>
                    
                    </div>
                    <p></p>
                    <div class="WordSection4">
                    
                    <p class="MsoBodyText" style="margin-top:3.9pt;margin-right:8.8pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt">such information and to use other
                    appropriate confidentiality and security measures to ensure the protection of
                    the users who will mainly be part of vulnerable populations such as people who
                    are affected by substance use disorders.<o:p></o:p></p>
                    
                    <p></p>
                    
                    <p class="MsoBodyText" style="margin-top:.05pt;margin-right:6.1pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt">The Huru Website/App is not
                    attempting to provide any type of health advice or analysis to users. The
                    Website/App is simply presenting users with information regarding substance use
                    and and available evidence-based treatment centers. Users should not interpret
                    the App’s display of this data as any type of assessment from it. The Huru
                    Website/App is not responsible for any assessment or decision users make based
                    on the data presented in the Website/App or the services of any provider listed
                    on the Website/App.<o:p></o:p></p>
                    
                    <p class="MsoBodyText"><span style="font-size:13.0pt;mso-bidi-font-size:12.0pt">&nbsp;</span></p>
                    
                    <h1>Data Users Direct the Huru Website/App to Share<o:p></o:p></h1>
                    
                    <p class="MsoBodyText" style="margin-top:0in;margin-right:17.45pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt">The user can direct the team to
                    share data with other parties when providing feedback. This data may then be
                    governed by third-party privacy policy such as Google analytics.<o:p></o:p></p>
                    
                    <p></p>
                    <p class="MsoBodyText" style="margin-top:0in;margin-right:5.75pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt">Some options of the App/Website
                    may allow the user to share information with others, such as leaving comments
                    relating to a blog post. Remember that when the user shares information
                    publicly, it may be indexable by search engines. Do not share information that
                    you do not want to be made public.<o:p></o:p></p>
                    
                    <p class="MsoBodyText"><span style="font-size:13.0pt;mso-bidi-font-size:12.0pt">&nbsp;</span></p>
                    
                    <h1 style="margin-top:.05pt">Cookies and Other Tracking Technologies<o:p></o:p></h1>
                    
                    <p class="MsoBodyText" style="margin-top:0in;margin-right:9.1pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt">Some of the App’s/Website’s pages
                    may utilize “cookies” and other tracking technologies like pixel tags and web
                    beacons to improve the functionality of the App/website. Cookies are text files
                    that are sent by servers to web browsers and stored on your computer.<o:p></o:p></p>
                    
                  <p></p>
                    <p class="MsoBodyText" style="margin-top:0in;margin-right:5.15pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt">They tell the team which parts of
                    the Website the user has visited so they can alert the team to software
                    compatibility issues and save the user’s preferences for future visits to the
                    App.<o:p></o:p></p>
                    
                    <p class="MsoBodyText" style="margin-top:0in;margin-right:12.8pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt">Web beacons and pixel tags are
                    images embedded in a webpage or e-mail for the purpose of measuring and
                    analyzing usage and activity. The Website, or third-party service providers
                    acting on behalf of the Huru App/Website, may use web beacons and pixel tags to
                    help the team analyze usage and improve the App’s/Webiste’s functionality. Some
                    cookies and other technologies may serve to recall PII previously provided by a
                    user.<o:p></o:p></p>
                    
                    <p></p>
                    
                    <p class="MsoBodyText" style="margin-top:0in;margin-right:16.15pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt">The user may be offered a browser
                    that has a “Do Not Track” option, which allows the user to signal to operators
                    of websites and web applications and services (including behavioural
                    advertising services) that the user does not wish such operators to track
                    certain online activities over time and across different websites. At this
                    time, the Huru App/Website will not support Do Not Track requests which means
                    that the App/Website will collect<o:p></o:p></p>
                    
                    <p class="MsoBodyText" style="margin-top:.05pt;margin-right:23.4pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt">information about the user’s
                    online activity while the user is using the Huru App/Website. The App/Website
                    does not collect online activities after the user leaves the App/Website.<o:p></o:p></p>
                    
                    </div><p>
                    
                    <span style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:
                    &quot;Times New Roman&quot;;mso-ansi-language:EN-US;mso-fareast-language:EN-US;
                    mso-bidi-language:AR-SA"><br clear="all" style="page-break-before:always;
                    mso-break-type:section-break">
                    </span>
                    
                    </p><div class="WordSection5">
                    
                    <h1 style="margin-top:3.9pt">Third-Party Links<o:p></o:p></h1>
                    
                    <p class="MsoBodyText" style="margin-top:0in;margin-right:19.4pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt">The Huru App/Website may contain
                    links to third-party websites. They will be revised and approved by the Huru
                    Team.<o:p></o:p></p>
                    
                    <p></p>
                    
                    <p class="MsoBodyText" style="margin-top:.05pt;margin-right:21.75pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt">The Huru Team wishes to inform
                    users of the App/Website to use third-part links and websites with caution, as
                    this privacy policy does not apply to such websites. Using these links is at
                    the user’s own risk and the Huru Team reminds all users to review the website’s
                    terms of service and privacy policies when visiting such sites. The Huru Team
                    does not<o:p></o:p></p>
                    
                    <p class="MsoBodyText" style="margin-top:0in;margin-right:15.1pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt">monitor or have any control over
                    and make no claim or representation regarding third-party websites. To the
                    extent such links are provided by the App/Website these do not imply the Huru
                    Team’s endorsement, adoption or sponsorship of, or affiliation with, such
                    third-party websites. When the user leaves the Huru App/Website to use
                    third-party links and websites, the terms of this privacy policy no longer
                    applies.<o:p></o:p></p>
                    
                    <p class="MsoBodyText"><span style="font-size:13.0pt;mso-bidi-font-size:12.0pt">&nbsp;</span></p>
                    
                    
                    <h1>Security<o:p></o:p></h1>
                    
                    <p class="MsoBodyText" style="margin-top:0in;margin-right:8.1pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt">The privacy and security of user
                    data is important to us. We maintain physical, electronic, and procedural
                    safeguards that are designed to control and protect your data from unauthorized
                    access. We adhere to accepted industry privacy standards. Our used data
                    protection measures include data encryption, strong user authentication, data
                    backup and data erasure.<o:p></o:p></p>
                    
                    <p></p>
                    
                    <p class="MsoBodyText" style="margin-top:.05pt;margin-right:6.5pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt">In addition, The Huru Team uses
                    encryption and a protocol for transmitting private information via the
                    Internet. Unfortunately, no maintenance of data or transmission over a public
                    network such as the Internet can be guaranteed to be secure. Therefore, while
                    the Huru Team follows accepted industry standards and implement reasonable
                    security practices to protect PII, that are in line with European Union’s
                    standard data protection (GDPR), which are commonly used in Tanzania, its
                    absolute security cannot be fully guaranteed, however, as the protection of all
                    Huru App/Website users are of utmost importance, the Huru App will make sure to
                    inform all users once changes are effective.<o:p></o:p></p>
                    
                    <p class="MsoBodyText"><span style="font-size:13.0pt;mso-bidi-font-size:12.0pt">&nbsp;</span></p>
                    
                    
                    <h1>Changes to This Privacy Policy<o:p></o:p></h1>
                    
                    <p class="MsoBodyText" style="margin-top:0in;margin-right:7.1pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt">As previously mentioned, the Huru
                    App may update the Privacy Policy in line with the developmental stages of the
                    Huru App/Website. In the event of a change, the Huru Team will notify the user
                    when the new privacy policy is available, directly on the App by using a Push
                    Notification function or a pop up function. The Huru Team advises all users to
                    review this Privacy Policy periodically for any changes.<o:p></o:p></p>
                    
                    <p class="MsoBodyText"><span style="font-size:13.0pt;mso-bidi-font-size:12.0pt">&nbsp;</span></p>
                    
                    <h1>Online Privacy Policy Only<o:p></o:p></h1>
                    
                    <p class="MsoBodyText" style="margin-top:0in;margin-right:9.4pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt">This Privacy Policy applies only
                    to information collected through the Huru App/Website and does not apply to
                    information collected offline through other communication mediums. This policy
                    does not apply to employment-related information, including information received
                    from job applicants.<o:p></o:p></p>
                    
                    </div><p>
                    
                    <span style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:
                    &quot;Times New Roman&quot;;mso-ansi-language:EN-US;mso-fareast-language:EN-US;
                    mso-bidi-language:AR-SA"><br clear="all" style="page-break-before:always;
                    mso-break-type:section-break">
                    </span>
                    
                    </p><h1 style="margin-top:3.9pt">Google Analytics<o:p></o:p></h1><p class="MsoBodyText" style="margin-top:0in;margin-right:10.05pt;margin-bottom:
                    0in;margin-left:5.0pt;margin-bottom:.0001pt">Currently the Huru Team is using
                    Google Analytics to understand the Huru App’s/Website’s audience and how to
                    tailor the content of the App/Website to best serve the user’S needs. No
                    Personally Identifiable Information is collected by Google Analytics.
                    Specifically, Google analytics collects data about how the user uses the
                    app/website which are time of visit, pages visited, and the time spent of each
                    page of the webpage.<o:p></o:p></p><p class="MsoBodyText"><span style="font-size:11.0pt;mso-bidi-font-size:12.0pt">&nbsp;</span></p><h1 style="margin-top:.05pt;margin-right:8.1pt;margin-bottom:0in;margin-left:
                    5.0pt;margin-bottom:.0001pt">Consumer Rights based Tanzania Communications
                    Regulatory Authority (TCRA) Electronic and Postal Communication (Consumer
                    Protection) Regulations, 2018 article 6<o:p></o:p></h1><p class="MsoBodyText" style="margin-left:5.0pt">As a user of Huru App you have
                    the following rights which are as stipulated in the consumer protection
                    regulations in the Tanzania Communications Regulatory Authority (TCRA)
                    Electronic and Postal Communication Regulations:<o:p></o:p></p><p class="MsoBodyText"><o:p>&nbsp;</o:p></p><p class="MsoListParagraph" style="margin-left:24.25pt;text-indent:-16.3pt;
                    mso-list:l1 level1 lfo1;tab-stops:24.3pt"><!--[if !supportLists]--><span style="font-size:12.0pt;letter-spacing:-.1pt;mso-font-width:99%">(a)<span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp; </span></span><!--[endif]--><span style="font-size:12.0pt;mso-bidi-font-size:11.0pt">fairly and lawfully
                    collected and<span style="letter-spacing:-.05pt"> </span>processed;<o:p></o:p></span></p><p class="MsoListParagraph" style="margin-left:24.9pt;text-indent:-16.95pt;
                    mso-list:l1 level1 lfo1;tab-stops:24.95pt"><!--[if !supportLists]--><span style="font-size:12.0pt;letter-spacing:-.1pt;mso-font-width:99%">(b)<span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp; </span></span><!--[endif]--><span style="font-size:12.0pt;mso-bidi-font-size:11.0pt">processed for identified<span style="letter-spacing:-.05pt"> </span>purposes;<o:p></o:p></span></p><p class="MsoListParagraph" style="margin-left:24.25pt;text-indent:-16.3pt;
                    mso-list:l1 level1 lfo1;tab-stops:24.3pt"><!--[if !supportLists]--><span style="font-size:12.0pt;letter-spacing:-.1pt;mso-font-width:99%">(c)<span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp; </span></span><!--[endif]--><span style="font-size:12.0pt;mso-bidi-font-size:11.0pt">accurate;<o:p></o:p></span></p><p class="MsoListParagraph" style="margin-left:24.9pt;text-indent:-16.95pt;
                    mso-list:l1 level1 lfo1;tab-stops:24.95pt"><!--[if !supportLists]--><span style="font-size:12.0pt;letter-spacing:-.1pt;mso-font-width:99%">(d)<span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp; </span></span><!--[endif]--><span style="font-size:12.0pt;mso-bidi-font-size:11.0pt">processed in accordance with
                    the consumer’s<span style="letter-spacing:-.1pt"> </span>otherrights;<o:p></o:p></span></p><p class="MsoListParagraph" style="margin-left:24.25pt;text-indent:-16.3pt;
                    mso-list:l1 level1 lfo1;tab-stops:24.3pt"><!--[if !supportLists]--><span style="font-size:12.0pt;letter-spacing:-.1pt;mso-font-width:99%">(e)<span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp; </span></span><!--[endif]--><span style="font-size:12.0pt;mso-bidi-font-size:11.0pt">protected against improper
                    or accidental disclosure;<span style="letter-spacing:-.05pt"> </span>and<o:p></o:p></span></p><p class="MsoListParagraph" style="margin-top:.05pt;margin-right:14.5pt;
                    margin-bottom:0in;margin-left:5.0pt;margin-bottom:.0001pt;text-indent:3.0pt;
                    mso-list:l1 level1 lfo1;tab-stops:22.95pt"><!--[if !supportLists]--><span style="font-size:12.0pt;letter-spacing:-.1pt;mso-font-width:99%">(f)<span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp; </span></span><!--[endif]--><span style="font-size:12.0pt;mso-bidi-font-size:11.0pt">not transferred to any party
                    except as permitted by any terms and conditions agreed<span style="letter-spacing:
                    -.65pt"> </span>with the consumer, as permitted by any permission or approval
                    of the Authority, or as otherwise permitted or required by other applicable<span style="letter-spacing:-.05pt"> </span>laws.<o:p></o:p></span></p><p class="MsoBodyText"><span style="font-size:13.0pt;mso-bidi-font-size:12.0pt">&nbsp;</span></p><h1>European Union General Data Protection Regulation (EU GDPR) Principles<o:p></o:p></h1><p class="MsoBodyText" style="margin-left:5.0pt">The following articles of the EU
                    GDPR are used as basis and guidance in developing data handling strategy and
                    privacy polics of the Huru App/Website:<o:p></o:p></p><p class="MsoBodyText"><o:p>&nbsp;</o:p></p><p class="MsoListParagraph"><!--[if !supportLists]--><span style="font-size:12.0pt;letter-spacing:-1.25pt;mso-font-width:99%">(a)<span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><!--[endif]--><span style="font-size:12.0pt;mso-bidi-font-size:
                    11.0pt">The right to be informed which will be through the Privacy Policy
                    (Article<span style="letter-spacing:-.3pt"> </span>12);<o:p></o:p></span></p><p class="MsoListParagraph"><!--[if !supportLists]--><span style="font-size:12.0pt;letter-spacing:-1.25pt;mso-font-width:99%">(b)<span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><!--[endif]--><span style="font-size:12.0pt;mso-bidi-font-size:
                    11.0pt">The right to access which will have subject access request form (Article<span style="letter-spacing:-.3pt"> </span>15);<o:p></o:p></span></p><p class="MsoListParagraph"><!--[if !supportLists]--><span style="font-size:12.0pt;letter-spacing:-1.25pt;mso-font-width:99%">(c)<span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><!--[endif]--><span style="font-size:12.0pt;mso-bidi-font-size:
                    11.0pt">The right to rectification (Article 16 and Article 5 (1)<span style="letter-spacing:-.2pt"> </span>(d));<o:p></o:p></span></p><p class="MsoListParagraph"><!--[if !supportLists]--><span style="font-size:12.0pt;letter-spacing:-1.25pt;mso-font-width:99%">(d)<span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><!--[endif]--><span style="font-size:12.0pt;mso-bidi-font-size:
                    11.0pt">The right to be forgotten (Article<span style="letter-spacing:-.1pt"> </span>17);<o:p></o:p></span></p><p class="MsoListParagraph"><!--[if !supportLists]--><span style="font-size:12.0pt;letter-spacing:-1.25pt;mso-font-width:99%">(e)<span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><!--[endif]--><span style="font-size:12.0pt;mso-bidi-font-size:
                    11.0pt">The right to restrict processing (Article<span style="letter-spacing:
                    -.15pt"> </span>18);<o:p></o:p></span></p><p class="MsoListParagraph"><!--[if !supportLists]--><span style="font-size:12.0pt;letter-spacing:-1.25pt;mso-font-width:99%">(f)<span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><!--[endif]--><span style="font-size:12.0pt;mso-bidi-font-size:
                    11.0pt">The right to data portability (Article<span style="letter-spacing:-.15pt">
                    </span>20);<o:p></o:p></span></p><p>
                    
                    </p><p class="MsoListParagraph"><!--[if !supportLists]--><span style="font-size:12.0pt;letter-spacing:-1.25pt;mso-font-width:99%">(g)<span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><!--[endif]--><span style="font-size:12.0pt;mso-bidi-font-size:
                    11.0pt">The right to object (Article<span style="letter-spacing:-.15pt"> </span>21)<o:p></o:p></span></p>
        
            </div>

            <div class="col-lg-2"></div>
        </div>
    </div>
</section>
<!-- End Blog Details Area -->
{% endblock %}