{% extends 'master/base.html' %}
{% load embed_video_tags %}
{% load static %}
{% load i18n %}


{% block content %}
<!-- Start Page Title Area -->
<div class="page-title-area page-title-style-three item-bg1 jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="index.html">{% trans 'Home' %}</a></li>
                <li>{% trans 'Find Services' %}</li>
            </ul>
            <h2>{% trans 'Services' %}</h2>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start service Area -->
<section class="pricing-area ptb-100">
    <div class="container">

        <form action="" method="GET">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="keyword" value="{{request.GET.keyword}}" placeholder="Search facility or facility type">
                <div class="input-group-append">
                <button class="input-group-text">search</button>
                </div>
            </div>
        </form>

        {% if services.count != 0 %}
        <div class="pricing-table table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">{% trans 'Facility' %}</th>
                        <th scope="col">{% trans 'Facility-Type' %}</th>
                        <th scope="col">{% trans 'Service' %}</th>
                        <th scope="col">{% trans 'Contact' %}</th>
                        <th scope="col">{% trans 'Location' %}</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for service in services %}
                    <tr>
                        <td>{{service.facility}}</td>
                        <td>{{service.facility_type}}</td>
                        <td>{{service.service_offered|safe}}</td>
                        <td>{{service.contact}}</td>
                        <td>{{service.location}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="row">
            <div class="col-md-12 card text-center" style="padding: 20px;">{% trans 'No Service' %}</div>
        </div>
        {% endif %}
            
    </div>
</section>
<!-- End service Area -->
    
{% endblock %}