{% extends 'master/admin_base.html' %}
{% load static %}
{% load date_tag %}

{% block content %}

<section class="content">

    {% include 'includes/bloc_header.html' %}

    <div class="container-fluid">

        <!-- Striped Rows -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">

                {% if services.count != 0 %}
                <div class="card">
                    <div class="header">
                        <h2> Service </h2>
                        <ul class="header-dropdown">
                            <li class="remove">
                                <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                            </li>
                        </ul>
                    </div>

                    {% include "includes/alert.html" %}

                    <div class="body table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th class="text-center">FACILITY</th>
                                    <th class="text-center">TYPE</th>
                                    <th class="text-center">SERVICE</th>
                                    <th class="text-center">CONTACT</th>
                                    <th class="text-right">REGION</th>
                                    <th class="text-right">DISTRICT</th>
                                    <th class="text-right">LOCATION</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for service in services %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td class="text-center">{{service.facility}}</td>
                                    <td class="text-center">{{service.facility_type}}</td>
                                    <td class="text-center">{{service.service_offered|safe}}</td>
                                    <td class="text-center">{{service.contact}}</td>
                                    <td class="text-center">{{service.region}}</td>
                                    <td class="text-center">{{service.district}}</td>
                                    <td class="text-right">{{service.location}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% else %}
                <div class="card">
                    <h2 class="text-center" style="padding: 50px;">No Service </h2>
                </div>
                {% endif %}

            </div>
        </div>
        <!-- #END# Striped Rows -->

    </div>
</section>

{% endblock %}