{% load static %}
<!-- Start Footer Area -->
<footer class="footer-area" style="padding: 0px;">
    <div class="footer-bottom-area">
        <div class="container">
            <div class="logo">
                <a href="index-3.html" class="d-inline-block"><img src="{% static 'assets/img/logo.png' %}"
                        alt="image"></a>
            </div>
            <p>Copyright <i class='bx bx-copyright'></i> 2020 Huru all rights
                reserved.
            </p>
        </div>
    </div>
</footer>
<!-- End Footer Area -->