{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Revolution Slider CSS -->
    <link rel="stylesheet" href="{% static 'assets/revolution/css/settings.css' %}">
    <link rel="stylesheet" href="{% static 'assets/revolution/css/layers.css' %}">
    <link rel="stylesheet" href="{% static 'assets/revolution/css/navigation.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap..min.css' %}">
    <!-- BoxIcons CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/boxicons.min.css' %}">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <!-- Odometer CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/odometer.min.css' %}">
    <!-- MeanMenu CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.min.css' %}">
    <!-- Viewer CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/viewer.min.css' %}">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/slick.min.css' %}">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.min.css' %}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

    <title>{{title}}</title>

    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
</head>