{% load static %}
{% load i18n %}

{% url 'main:home' as home  %}
{% url 'main:hcw_home' as hcw_home  %}
{% url 'main:about_us' as about_us %}
{% url 'main:contact' as contact %}
{% url 'main:testimony' as testimony %}
{% url 'main:blog' as blog %}
{% url 'main:category_information' as category_information %}
{% url 'main:service_list' as service_list %}
{% url 'main:blog_detail' object.id as blog_detail %}


<!-- Start Header Area -->
<header class="header-area p-relative">

    <div class="top-header top-header-style-four">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-md-12" style="padding: 10px;">
                    <!-- <ul class="top-header-login-register">
                        <li><a href="{% url 'main:hcw_home'  %}" target="_blank"><i class='bx bx-log-in-circle'></i> Huru for Healthcare Workers</a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>

    <!-- Start Navbar Area -->
    <div class="navbar-area navbar-style-three">
        <div class="raque-responsive-nav">
            <div class="container">
                <div class="raque-responsive-menu">
                    <div class="logo">
                        <a href="{% url 'main:home'  %}">
                            <img src="{% static 'assets/img/new_huru_logo.jpg' %}" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="raque-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="{% url 'main:home'  %}">
                        <img src="{% static 'assets/img/new_huru_logo.jpg' %}" alt="logo">
                    </a>

                    <div class="collapse navbar-collapse mean-menu">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a href="{% url 'main:home'  %}"
                                    class="nav-link {% if request.path == home %}active{% endif %}">{% trans 'Home' %}</a></li>

                            <li class="nav-item"><a href="{% url 'main:blog' %}"
                                    class="nav-link {% if request.path == blog or request.path == blog_detail %}active{% endif %}">{% trans 'Information' %}</a></li>

                            <li class="nav-item"><a href="{% url 'main:testimony' %}"
                                    class="nav-link {% if request.path == testimony %}active{% endif %}">{% trans 'Testimonies' %}</a>
                            </li>
                            <li class="nav-item"><a href="{% url 'main:service_list' %}" class="nav-link {% if request.path == service_list %}active{% endif %}">{% trans 'Find Services' %}</a></li>
                            <li class="nav-item"><a href="{% url 'main:about_us' %}"
                                    class="nav-link {% if request.path == about_us %}active{% endif %}">{% trans 'About Us' %} </a>
                            </li>

                            <!-- <li class="nav-item"><a href="{% url 'main:contact' %}"
                                    class="nav-link {% if request.path == contact %}active{% endif %}">Contact</a></li> -->

                        </ul>
                        <div class="others-option">
                            {% get_current_language as LANGUAGE_CODE %}


                            <div class=" language-switcher d-inline-block">
                                <form action="{% url 'set_language' %}" method="POST">
                                    <div class=" language-switcher d-inline-block">
                                        
                                            {% csrf_token %}
                                            <input name="next" type="hidden" value="{{ redirect_to }}">
                                            <select name="language" id="">
                                                {% get_available_languages as LANGUAGES %}
                                                {% get_language_info_list for LANGUAGES as languages %}
                                                
                                                {% for language in languages %}
                                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                                        {{ language.name_local }} ({{ language.code }})
                                                    </option>
                                                {% endfor %}
                                            </select>
                                    </div>
                                    <input type="submit" class="btn btn-outline-light" value="change" style="color: black;">
                                </form>
                            </div>
                                
                            
                            {% comment %}
                            <div class="dropdown language-switcher d-inline-block">
                                <button class="dropdown-toggle" type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <span>{{LANGUAGE_CODE}} <i class='bx bx-chevron-down'></i></span>
                                </button>

                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <span>English <i class='bx bx-check'></i></span>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <span>Swahili</span>
                                    </a>
                                </div>
                            </div>
                            {% endcomment %}
                                
                                

                            <div class="search-box d-inline-block" style="visibility: hidden;">
                                <i class='bx bx-search'></i>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->

    <!-- Start Sticky Navbar Area -->
    <div class="navbar-area navbar-style-three header-sticky">
        <div class="raque-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html">
                        <img src="{% static 'assets/img/new_huru_logo.jpg' %}" alt="logo">
                    </a>

                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a href="{% url 'main:home'  %}"
                                    class="nav-link {% if request.path == home %}active{% endif %}">{% trans 'Home' %}</a></li>

                            <li class="nav-item"><a href="{% url 'main:blog' %}"
                                    class="nav-link {% if request.path == blog %}active{% endif %}">{% trans 'Information' %}</a></li>

                            <li class="nav-item"><a href="{% url 'main:testimony' %}"
                                    class="nav-link {% if request.path == testimony %}active{% endif %}">{% trans 'Testimonies' %}</a>
                            </li>
                            <li class="nav-item"><a href="{% url 'main:service_list' %}" class="nav-link {% if request.path == service_list %}active{% endif %}">{% trans 'Find Services' %}</a></li>
                            <li class="nav-item"><a href="{% url 'main:about_us' %}"
                                    class="nav-link {% if request.path == about_us %}active{% endif %}">{% trans 'About Us' %} </a>
                            </li>

                            <!-- <li class="nav-item"><a href="{% url 'main:contact' %}"
                                    class="nav-link {% if request.path == contact %}active{% endif %}">Contact</a></li> -->

                        </ul>

                        <div class="others-option">
                            <div class=" language-switcher d-inline-block">
                                <form action="{% url 'set_language' %}" method="POST">
                                    <div class=" language-switcher d-inline-block">
                                        
                                            {% csrf_token %}
                                            <input name="next" type="hidden" value="{{ redirect_to }}">
                                            <select name="language" id="">
                                                {% get_available_languages as LANGUAGES %}
                                                {% get_language_info_list for LANGUAGES as languages %}
                                                
                                                {% for language in languages %}
                                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                                        {{ language.name_local }} ({{ language.code }})
                                                    </option>
                                                {% endfor %}
                                            </select>
                                    </div>
                                    <input type="submit" class="btn btn-outline-light" value="change" style="color: black;">
                                </form>
                            </div>

                            <div class="search-box d-inline-block" style="visibility: hidden;">
                                <i class='bx bx-search'></i>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Sticky Navbar Area -->

</header>
<!-- End Header Area -->