{% load static %}
<!doctype html>
<html class="no-js " lang="en">

<!-- header -->
{% include 'includes/admin_header.html' %}


{% block header %}

{% endblock %}

</head>

<body class="theme-cyan">


    {% comment %}
    <!-- Page Loader -->
    {% include 'includes/admin_preloader.html' %}
    {% endcomment %}


    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <!-- Top Bar -->
    {% include 'includes/admin_topbar.html' %}

    <!-- Left Sidebar -->
    {% include 'includes/admin_sidebar.html' %}

    
    {% comment %}    
    <!-- Chat-launcher -->
    {% include 'includes/admin_chat.html' %}
    {% endcomment %}

    <!-- Main Content -->
    {% block content %}

    {% endblock %}

    <!-- Jquery Core Js -->
    {% include 'includes/admin_footer.html' %}

    {% block footer  %}

    {% endblock %}
</body>

</html>